.card img {
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;

}
.card {
  height: 200px;
  width: 200px;
  background-color: #383838;
  border-radius: 10px;
  border: solid 3px #000000;
}
.jumbotron {
  background-color: grey;
  text-align: center;
  color: white;
  text-shadow: 3px 3px black;
}
#gif {
  display: block;
  margin-left: auto;
  /* margin-right: auto; */
  padding-bottom: 20px;
  height: 300px;
  width: 400px;
}

body {
  background-color: lightgrey;
}

.container {
  padding-bottom: 50px;
}
